@import "ionicons.scss";

$proxima-nova-soft: "proxima-nova-soft";
$revel-blue: #00a3e0;
$revel-night: #373B40;
$white: #FFFFFF;
$revel-night-t: rgba(55, 59, 64, .7);
$revel-blue-t: rgba(0, 163, 224, 0.3);
$photo-filter-light: rgba(235,235,235,.1);
$photo-filter-mid: rgba(153,153,153,.1);

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

*{
	font-family: $proxima-nova-soft;
	font-weight: 300;
}
.inner{
  max-width: 1200px;
  margin: auto;
}
header, nav {
  display: block;
}
ul{
  margin: auto;
  list-style: none;
  list-style-image: none;
}
.show{
	display: block;
	position: absolute;
	left: 300px;
	top: 20px;
	width: 200px;
}
.hide{
	display: none;
}
.icon {

}
header.header-main-blue{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	height: 100px;
	background-color: $revel-blue;
	.nav-wrapper{
		padding-top: 35px;
		.ion-navicon{
			margin-right: 10px;
			font-size: 40px;
			color: white;
			@media screen and (max-width: 600px){
				font-size: 34px;
				margin-right: 0;
			}
		}
		.logo{
			width: 100px;
			margin: 10px 10px;
			vertical-align: bottom;
			background-size: cover;
			@media screen and (max-width: 600px){
				width: 80px;
			}
		}
		.nav-right{
			float: right;
			margin: 10px auto;
			.icon{
        display: none;
				color: $white;
				margin: 8px 8px 0px 0px;
				font-size: 24px;
				line-height: 0px;
        @media screen and (max-width: 600px){
          display: block;
        }
			}
			#nav-search{
				display: inline-block;
				position: absolute;
				padding: 0 0 0 20px;
				margin: 0 20px;
				vertical-align: middle;
				&.show{
					display: block;
				}
				#input{
					border-radius: 6px;
					margin: auto;
					padding: 10px 20px;
					padding-right: 30px;
					width: 102%;
					@media screen and (max-width: 600px){
						border: 1px solid $revel-blue;
						color: $revel-night;
						width: 100%;
						z-index: 1;
						box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.5);
					}
				}
				span{
					position: absolute;
					padding: 8px 5px 5px 5px ;
				}
				@media screen and (max-width: 600px){
					display: none;
					width: 80%;
					margin: auto;
					padding: 0px;
					top: 110px;
					left: 0;
					right: 0;
				}
        @media screen and (min-width: 600px){
          position: relative;
        }
			}

			.btn-basic{
				font-size: 18px;
				padding: 10px 20px;
				border: 1px solid $revel-blue;
				border-radius: 6px;
				background-color: #e6e6e6;
				&:hover{
					background-color: $revel-night;
				}
				@media screen and (max-width: 600px){
					padding: 10px;
				}
			}
		}
		.header-secondary-nav{
			padding: 10px 0px 0px;
			border-bottom: none;
			#select-lang{
				float: right;
				padding: 0;
				&:after{
					background: none;
				}
				span.selected-item{
					color: #fff;
					font-weight: 100;
					i{
						font-size: 16px;
					}
				}
			}
		}
	}
}
.nav-popOut{
	position: fixed;
	top: 0;
	left:-300px;
	bottom: 0;
	z-index: 100;
	width: 300px;
	padding: 0;
	background-color: $revel-blue;
	backface-visibility: hidden;
	&.active{
		left: 0;
	}
	.nav-popOut-inner{
		position: relative;
		background-color: $revel-blue;
		z-index: 3;
		height: 100%;
		top: 100px;
	}
	@media screen and (max-width: 600px){
		width: 50%;

	}
}
nav.popOut{
	#close-menu{
		position: relative;
		text-transform: uppercase;
		letter-spacing: 2px;
		i{
			font-size: 36px;
			vertical-align: middle;
			line-height: 0px;
		}
		font-weight: 300;
		text-align: right;
	}
	a{
		color: #ffffff;
		letter-spacing: 1.4px;
		text-transform: uppercase;
	}
	ul{
		padding: 5px 0px 10px 20px;
		border-top: 1px solid $revel-night;
		background-color: $revel-blue;
		li.nav-link{
			margin-top: 10px;
			&:hover{
				text-decoration: underline;
				line-height: 24px;
			}
			.icon-dropdown{
				float: right;
				position: relative;
				display: block;
				i{
					font-size: 22px;
					line-height: 0px;
					margin-right: 10px;
				}
			}
		}
	}
	.nav-dropdown-menu{
		display: none;
		padding: 20px;
		border: none;
		border-radius: 6px;
		left: 296px;
		&.show{
			display: block;
		}
		@media screen and (max-width: 600px){
			left: 95%;

		}
	}
}
